block variable

form.form(name=formName)
    .form__container
        h2.form__title=signIn
        include field
    .form__container
        button.form__button=buttonText
        a(href="/signup.pug").form__link=linkText

