.add-file-modal
    .add-file-modal__container
        h6.add-file-modal__title Загрузить файл
        div
            label.add-file-modal__label(for="user-image") Выбрать файл на компьютере
            input.add-file-modal__field(id="user-image" type="file" name="user-image")
    button.button.add-file-modal__edit Поменять
