include ../../templates/inputField/input-field
.delete-user-modal
    form.form(name="add-user")
        .form__container
            h2.form__title Удаление пользователя
            +inputField("login", "Логин", "text", "Поле некорректно заполнено")
        .form__container
            button.form__button Удалить
