include ../../templates/inputField/input-field
.edit-password-modal
    form.form(name="edit-password")
        .form__container
            h2.form__title Изменение пароля
            +inputField("oldPassword", "Старый пароль", "password", "Поле некорректно заполнено")
            +inputField("newPassword", "Новый пароль", "password", "Поле некорректно заполнено")
            +inputField("passwordAgain", "Повторите новый пароль", "password", "Поле некорректно заполнено")
        .form__container
                button.form__button Сохранить
