block variable

.error
    .error__container
        .error__text-container
            h6.error__title=errorTitle
            p.error__subtitle=errorSubtitle
        a.error__button(href=errorNavigatePath)=errorButtonText
