.profile-navigation {
    width: calc(100% - 95%);
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.profile-navigation__button {
    border-radius: 50%;
    background: #3369F3;
    color: #FFF;
    width: 28px;
    height: 28px;
}
