extends templates/head/head
block variables
    - const pageTitle = "Ошибка 500"
    - const style = "./styles/error.css"
    - const errorTitle = "500"
    - const errorSubtitle = "Мы уже фиксим"
    - const errorNavigatePath = "/index.pug"
    - const errorButtonText = "Назад к чатам"
block content
    include ./templates/main/main
        include ./templates/error/error
