extends templates/head/head
include ./templates/inputField/input-field

block variables
    - const pageTitle = "Страница регистрации"
    - const style = "./styles/auth.css"
block content
    include ./templates/main/main
        form.form(name="signup")
            .form__container
                h2.form__title Регистрация
                +inputField("email", "Почта", "text", "Поле некорректно заполнено")
                +inputField("login", "Логин", "text", "Поле некорректно заполнено")
                +inputField("firstName", "Имя", "text", "Поле некорректно заполнено")
                +inputField("lastName", "Фамилия", "text", "Поле некорректно заполнено")
                +inputField("phone", "Телефон", "text", "Поле некорректно заполнено")
                +inputField("password", "Пароль", "password", "Поле некорректно заполнено")
                +inputField("passwordAgain", "Пароль еще раз", "password", "Поле некорректно заполнено")
            .form__container
                button.form__button Зарегистрироваться
                a(href="/signin.pug").form__link Войти
