.popper-background
.popper.popper_right.chat-edit-user-popper
    button.button.chat-edit-user-popper__button(id="add-user-button")
        include ../../images/add-user-button.svg
        | Добавить пользователя
    button.button.chat-edit-user-popper__button(id="delete-user-button")
        include ../../images/delete-user-button.svg
        | Удалить пользователя
