.chat-message-form
    .chat-message-form__container
        button.button.chat-message-form__add-file-button
            include ../../images/add-file-button.svg
        include ./chat-add-document-popper
    input.chat-message-form__field(placeholder="Сообщение")
    button.button.chat-message-form__send-button &rarr;
