.chat-list
    include chat-search-bar
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item
    include chat-list-item


