.chat-list-item
    .chat-list-item__container
        .chat-list-item__message-container
            .chat-list-item__image
            .chat-list-item__message-info
                p.chat-list-item__user-name Андрей
                p.chat-list-item__message Текст сообщения
        .chat-list-item__info-container
            p.chat-list-item__message-date 10:44
            .chat-list-item__count-container
                p.chat-list-item__count 4
