.chat-search-bar
    .chat-search-bar__container
        a.chat-search-bar__profile-button(href="/profile.pug") Профиль &gt;
    .chat-search-bar__search-container
        input.chat-search-bar__input(placeholder="Поиск")

