.chat-your-message
    p.chat-your-message__text Текстfgmlkfmdklgvmfdklmgklfdmgklfmdklgmfdklgmklfdmgklfmdklgmfkldmgklfmdklgmfdklmgklfdmgkl
    .chat-your-message__info-container
        include ../../images/message-success.svg
        p.chat-your-message__info 14:54
