.chat-his-message
    .chat-his-message__container
        p.chat-his-message__text fdsfdsfdsfdsfdsfdsfdsfdsfdsfdsfdsfdsfdsfdsfdsmf;ldsml;fmdsl;fml;dsmfl;dmsl;fds
        .chat-his-message__info-container
            p.chat-his-message__info 14:54
