.popper-background
.popper.popper_left.popper_bottom.chat-add-document-popper
    button.button.chat-add-document-popper__button(id="add-document-button")
        include ../../images/add-photo-button.svg
        p.chat-add-document-popper__button-text Фото или Видео
    button.button.chat-add-document-popper__button(id="add-file-button")
        include ../../images/add-message-file-button.svg
        p.chat-add-document-popper__button-text Файл
    button.button.chat-add-document-popper__button(id="add-location-button")
        include ../../images/add-location.svg
        p.chat-add-document-popper__button-text Локация
