.chat-active-user
    .chat-active-user__container
        .chat-active-user__image
        p.chat-active-user__name Вадим
    div.chat-active-user__edit-container
        button.button.chat-active-user__button
            include ../../images/menu-button.svg
        include chat-edit-user-popper
